{% paginate blog.articles by 5 %}

  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {% capture blog_title %}
      {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
  {% endif %}

  <div class="max-w-[1170px] mx-auto px-5 lg:px-20 xl:px-0 my-8">
    <h1 class="text-[48px] leading-[52.8px] font-bold">{{ blog_title }}</h1>

    {% if blog.all_tags.size > 0 %}
      <h2>Tags</h2>

      <ul>
        {% for tag in blog.all_tags %}

          {% if current_tags contains tag %}
            <li>{{ tag }}</li>
          {% else %}
            <li>{{ tag | link_to_tag: tag }}</li>
          {% endif %}

        {% endfor %}
      </ul>
    {% endif %}


    {% comment %}

    Article Previews
    ====================
    {% endcomment %}
    <div class="mt-[40.5px] gap-6 xl:gap-[30px] grid grid-cols-1 sm:grid-cols-2">
      {% for article in blog.articles %}
        <div class="blog-card">
          {% capture date %}
            {{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}

          {% if article.image %}
            <a href="{{ article.url }}">
              <img
                style="width: 100%; height:300px; object-fit:cover;"
                src="{{ article.image.src | img_url: 'large' }}"
                alt="{{ article.image.alt }}">
            </a>
          {% endif %}

          <h3 class="text-[24px] leading-[28.8px] font-bold mt-[24px]">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h3>

          <div class="rte mt-[12px] text-dark4">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>
                {{ article.content | strip_html | truncatewords: 100 }}
              </p>
            {% endif %}
          </div>

          <p class="mt-[24px] text-yellow">
            <a href="{{ article.url }}">Read More</a>
          </p>
        </div>

      {% endfor %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>
  </div>
{% endpaginate %}